%p#notice= notice
%h1 Nuggets
%table
  %thead
    %tr
      %th Title
      %th Content
      %th{:colspan => "3"}
  %tbody
    - @nuggets.each do |nugget|
      %tr
        %td= nugget.title
        %td= nugget.content
        %td= link_to 'Show', nugget
        %td= link_to 'Edit', edit_nugget_path(nugget)
        %td= link_to 'Destroy', nugget, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Nugget', new_nugget_path
